{% extends 'app/base.html' %}
{% load static %}
{% block title %}About us{% endblock title %}
{% block main-content %}
<div class="cont">
    <div class='left-box'>
        <img class='immg' src={% static 'app/images/product/team.jpg' %} height="600px" width='600px' alt="">
    </div>
    <div class='right-box'>
        <div class='box1'>
            <h2 class='heading'>About me</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nisi molestias in labore magni similique laboriosam ut, voluptates saepe eveniet a, pariatur quibusdam suscipit illum voluptas aliquam dicta minima optio molestiae, aut accusantium? Enim possimus quae, voluptatem provident ipsum error tempora dolor, dolore, eum impedit nesciunt? Exercitationem modi velit, eveniet ipsa tenetur impedit odio commodi molestias?</p>
        </div>
        <div class='box2'>
            <h2 class='heading'>About Team</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rerum necessitatibus eos dicta, repudiandae, expedita autem eius aperiam eveniet esse libero. Alias, similique accusamus. Maxime accusantium, distinctio aut minima animi velit cumque assumenda laboriosam perspiciatis odio expedita architecto esse sit et nulla cupiditate sapiente error fugiat est! Hic modi ut quas earum, magni alias maxime qui!</p>
        </div>
    </div>
</div>
{% endblock main-content %}