{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact us{% endblock title %}
{% block main-content %}

<section class="container mt-5">
    <!--Contact heading-->
    <div class="row">
       <div class="col-sm-12 text-center mb-4">
        <a class="btn btn-danger" target="_blank" href="http://saffix.kesug.com/"> Visit WebPage <i class="fa fa-dollar"></i></a>
      </div>
       <!--Grid column-->
       <div class="col-sm-12 mb-4 col-md-5">
          <!--Form with header-->
          <div class="card border-danger rounded-0">
             <div class="card-header p-0">
                <div class="bg-danger text-white text-center py-2">
                   <h3><i class="fa fa-envelope"></i> Write to us:</h3>
                   <p class="m-0">We’ll write rarely, but only the best content.</p>
                </div>
             </div>
             <div class="card-body p-3">
                
                   <div class="form-group">
                   <label> Your name </label>
                   <div class="input-group">
                      <input value="" type="text" name="data[name]" class="form-control" id="inlineFormInputGroupUsername" placeholder="Your name">
                   </div>
                 </div>
                   <div class="form-group">
                      <label>Your email</label>
                      <div class="input-group mb-2 mb-sm-0">
                         <input type="email" value="" name="data[email]" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email">
                      </div>
                   </div>
                   <div class="form-group">
                      <label>Subject</label>
                      <div class="input-group mb-2 mb-sm-0">
                         <input type="text" name="data[subject]" class="form-control" id="inlineFormInputGroupUsername" placeholder="Subject">
                      </div>
                   </div>
                   <div class="form-group">
                      <label>Message</label>
                      <div class="input-group mb-2 mb-sm-0">
                         <input type="text" class="form-control" name="mesg">
                      </div>
                   </div>
                   <div class="text-center">
                      <input type="submit" name="submit" value="submit" class="btn btn-danger btn-block rounded-0 py-2">
                   </div>
              
                  </div>
                   
             </div>
          </div>
       <!--Grid column-->
       
       <!--Grid column-->
       <div class="col-sm-12 col-md-7">
          <!--Google map-->
          <div class="mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1344.6745019213013!2d85.81331075950783!3d20.029752910000703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19bbab51d6ffd5%3A0xadc298b04863a15b!2zTUFTSklELUFMLVFBU0lNIC8g2YXYs9is2K8g2KfZhNmC2KfYs9mF24w!5e1!3m2!1sen!2sin!4v1703903454890!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <!--Buttons-->
          <div class="row text-center">
             <div class="col-md-4">
                <a class="bg-danger px-3 py-2 rounded text-white mb-2 d-inline-block"><i class="fa fa-map-marker"></i></a>
                <p> Your Address ….. </p>
             </div>
             <div class="col-md-4">
                <a class="bg-danger px-3 py-2 rounded text-white mb-2 d-inline-block"><i class="fa fa-phone"></i></a>
                <p>+91 8078877526</p>
             </div>
             <div class="col-md-4">
                <a class="bg-danger px-3 py-2 rounded text-white mb-2 d-inline-block"><i class="fa fa-envelope"></i></a>
                <p> ytsafik2@gmail.com</p>
             </div>
          </div>
       </div>
       <!--Grid column-->
         </div>
 </section>
{% endblock main-content %}