{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class='list-group'>
                <a href="{% url "mobile" %}" class='list-group-item list-group-item-action nav-link' aria-current='true'>All Mobile</a>
                <a href="{% url "mobiledata" "Redmi" %}" class='list-group-item list-group-item-action nav-link ' aria-current='true'>Redmi</a>
                <a href="{% url "mobiledata" "Samsung" %}" class='list-group-item list-group-item-action ' aria-current='true'>Samsung</a>
                <a href="{% url "mobiledata" "apple" %}" class='list-group-item list-group-item-action ' aria-current='true'>Apple</a>
                <a href="{% url "mobiledata" "1plus" %}" class='list-group-item list-group-item-action ' aria-current='true'>One+</a>
                <a href="{% url "mobiledata" "below" %}" class='list-group-item list-group-item-action ' aria-current='true'>Below 25k</a>
                <a href="{% url "mobiledata" "above" %}" class='list-group-item list-group-item-action ' aria-current='true'>Above 25k</a>
            </div>
        </div>

        <div class="col-sm-9 ">
            <div class="owl-carousel " id="slider4">
                {% for product in mobiles %}
                    <a href="{% url 'product-detail' product.id %}" class="bttn">
                        <div class="item shdo p-1"><img src={{product.product_image.url}} alt=""    height="200" width='200'>
                            <span class="fw-bold">{{product.title}}</span><br>
                            <span class="fs-5">₹.{{product.discount_price}}</span>
                            <small class='fw-light text-decoration-line-through'>
                            {{product.selling_price}}
                            </small>
                            {% include "app/ratingStar.html" %}
                        </div>
                    </a>
                {% endfor %}
            </div>
            {% comment %} <div class="col-sm-4 text-center mb-4">
                <a href="{% url 'product-detail' product.id %}" class="btn">
                    <div class="item">
                        <img src={{product.product_image.url}} alt="" height="300">
                        <div class="fw-bold">{{product.title}}</div>
                        <div class="fs-5">Rs. {{product.discount_price}}
                            <small class='fw-light text-decoration-line-through'>
                                {{product.selling_price}}
                            </small>
                        </div>
                    </div>
                </a>
            </div> {% endcomment %}
        </div>
    </div>
 </div>
{% endblock main-content %}