
*{
    font-family: "Times New Roman", Times, serif;
    font-family: cursive;
}



.owl-carousel .item {
    /* border: 1px solid black; */
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    ;
}
body::-webkit-scrollbar{
    display: none;
}

.owl-next {
    float: right;
}

.owl-prev {
    float: left;
}

.owl-prev span {
    font-size: 24px;
    font-weight: bold;
}

.owl-next span {
    font-size: 24px;
    font-weight: bold;
}

#logoss {
    mix-blend-mode: multiply;
    text-shadow: 5px 4px 11px rgb(0, 0, 0), 0 2px 5px rgb(0, 0, 0);
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
.active{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.dropdown-toggle::after{
    content: none;
}
.baddge{
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
    position: relative;
    right: 10px;
    top: -10px;
}
.heading{
    text-align: center;
    mix-blend-mode: multiply;
  text-shadow: 5px 4px 11px rgb(71, 23, 23), 0 2px 5px rgb(59, 17, 37);
  text-align: center;
  color: white;
}

/* About us page */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cont{
    display: flex;
}
.left-box{

}

.right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1 , .box2{
    margin: 30px 20px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    background-color: azure;

}
/* end About us */

/* star Rating */
.checked {
    color : yellow;
    font-size : 15px;
}
.unchecked {
    font-size : 15px;
}




/* extra */
.shdo{
    width: 200px;
    color:black;
}
.shdo:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    /* padding-left: 5px;
    padding-right: 5px; */
    color: #dc3545;
    border-radius: 5px;
}
.bttn{
    text-decoration: none !important;
    color: black;
}


/* scrollbar */

.cnt::-webkit-scrollbar {
    width: 10px;
    /* height: 300px; */
}

.cnt::-webkit-scrollbar-track {
    background-color: aqua !important;
}

.cnt::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
}

.cnt::-webkit-scrollbar-thumb:hover {
    background-color: red;
}


/* image of the order and cart */
.imgg{
    padding: 5px;
    border: 0.2px solid rgba(41, 32, 32, 0.452);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* transition: all 1s ease-in-out  ; */
}

.imggg{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s ease-in-out  ;
}

.imggg-parent{
    padding: 5px;
    border: 0.2px solid rgba(41, 32, 32, 0.452);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.imggg:hover{
    transform: scale(.96);
}

.bg-custom{
    /* background: linear-gradient(#00B09B, #96C93D)!important; */
    /* background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); */
    /* background: linear-gradient(to right, #ee0979, #ff6a00); */
    background: linear-gradient(to right, #11d431,#5be472, #e5bc54, #e43642, #ee0979);
    border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

/* .bg-custom:hover{
    background: linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to left, #11d431,#7dfc92, #e5bc54, #e43642, #ee0979);
} */

/* ================================ */


.bg-custom:hover {
    /* background: linear-gradient(to right, #11d431, #5be472, #e5bc54, #e43642, #ee0979); */
    background: linear-gradient(to left, #11d431,#7dfc92, #e5bc54, #e43642, #ee0979);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background-size: 200% 200%;
    animation: gradient-animation 3s ease-in-out infinite;
}

.bg-custom:hover {
    background-position: right center; /* Adjust the background position */
}

/* Define the keyframes for the animation */
@keyframes gradient-animation {
    0% {
        background-position: right center;
    }
    40% {
        background-position: left center;
    }
    100% {
        background-position: right center;
    }
}


/* ==================================== */











.hov{
    text-shadow: #03001e 3px 3px 7px;
}

.hov:hover{
    /* color: cyan !important; */
    color: #fff;
    font-weight: 600;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }